.logo {
    width: 220px;
    height: auto;
}

.side-title > h3 {
    font-size: 21px;
    margin-bottom: 3px;
}

.side-title > p {
    font-size: 12px;
    margin-bottom: 3px;
}

.sosial-media > img {
    width: 30px;
    height: auto;
}

.navbar-custom {
    background-image: url(images/bg-menu.jpg);
}

li.active {
    background-image: url(images/bg-menu-hover.png);
}

.nav-item {
    padding: 0px 10px;
}

.carousel-indicators {
    display: none;
}

#custom-carousel .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -54px;
}

#custom-carousel .carousel-indicators li {
    background-color: black;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    list-style: none;
}

#custom-carousel .carousel-indicators .active {
    background-color: #fff;
}

.footer {
    background-color: #0F3065;
}

.btn-primary {
    background-color: #09325E;
    border-color: #09325E;
}


